#main-title {
  margin: 0 auto;
}
.user-header {
  background: cornflowerblue;
}
.profile-picture {
  max-width: 150px ;
  max-height: 150px ;
}
.friends-preview-list {
  list-style: none;
}
.friends-preview-list li {
  display: inline-block;
}
