#main-title {
  margin: 0 auto;
}
.profile-picture {
  max-width: 150px ;
  max-height: 150px ;
}
.friends-preview-list {
  list-style: none;
}
.friends-preview-list li {
  display: inline-block;
}
#search-results ul {
  top: 0;
  left: 0;
  z-index: 1000;
  position: absolute;
  background: white;
  list-style: none;
  padding: 0;
}
#search-results ul li {
  padding: 2px;
}
