#main-title{
    margin: 0 auto;
}

.user-header{

}

.profile-picture{
    max-width: 150px ;
    max-height: 150px ;
}

.friends-preview-list {
    list-style: none;
    li {
        display: inline-block;
    }
}

#search-results{
    //display: none;
    //float: left;
    ul {
        top: 0;
        left: 0;
        z-index: 1000;
        position: absolute;
        background: white;
        list-style: none;
        padding: 0;
        li {
           padding: 2px;
        }
    }
}