<div class="col-sm-12">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" href="#">aZs Book!</span>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/" class="glyphicon glyphicon-home"></a></li>
                    <li>
                        <a href="#/" class="glyphicon glyphicon-envelope" ng-click="showFriendRequests()"><sub ng-model="hasRequests" ng-if="hasRequests">{{friendRequests.length}}</sub></a>
                        <div class="requests-data" ng-show="showRequests">
                            <ul ng-model="searchResults">
                                <li ng-repeat="request in friendRequests" >
                                    <div friend-request></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#/editUser" class="glyphicon glyphicon-pencil"></a></li>
                    <li><a href="#/changepass" class="glyphicon glyphicon-certificate"></a></li>
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown-->
                    <!--<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="btn btn-default navbar-btn glyphicon glyphicon-log-out"
                                ng-click="logout()"></button>

                    </li>
                    <li class="dropdown">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" id="user-search" class="form-control" placeholder="Search"
                                       onchange="">
                            </div>
                            <button type="submit" class="btn btn-default glyphicon glyphicon-search"
                                    onclick="angular.element(this).scope().searchUsers(document.getElementById('user-search'))"></button>
                        </form>
                        <div ng-show="isSearching" id="search-results" ng-model="searchResults"
                             class="col-sm-1 col-sm-offset-1">
                            <ul>
                                <li ng-repeat="foundUser in searchResults">
                                    <div user-found></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>