<div ng-controller="baseController">
    <header ng-controller="userNavigationController">
        <div ng-include="'partials/user/userHeader.html'"></div>
    </header>
    <div ng-controller="friendsPreviewController" class="col-sm-12">
        <div class="panel panel-default col-sm-3">
            <div class="panel-body">
                <form class="navbar-form" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchFriendString">
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default col-sm-8 col-sm-offset-1">
            <div class="panel-heading">
                <h3 class="panel-title">Friends Count - {{friends.length}}</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="friend in friends | filter : searchCompare" class="list-group-item">
                        <a href="#/user/{{friend.username}}">
                            <img ng-src="{{friend.profileImageData}}" class="profile-picture"/>
                            <span>{{friend.name}}</span>
                        </a>
                        <br/>
                    <span>
                        {{friend.gender == 0 ? 'Other':''}}
                        {{friend.gender == 1 ? 'Male':''}}
                        {{friend.gender == 2 ? 'Female':''}}
                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>