<div class="col-sm-12" ng-include="'partials/pages/guestHeader.html'">
</div>
<div id="guest-wrapper" class="col-sm-12">
    <header class="col-sm-6 col-sm-offset-3">
        <h1>Welcome to our Site!</h1>
        <div class="">
            <img src="img/Logo.png" class="img-responsive" id="main-title" alt="Title-picture"/>
        </div>
    </header>
    <div class="col-sm-4 col-sm-offset-4">
        <h2>Register Now:</h2>
        <form ng-submit="register()">
            <div class="form-group">
                <label for="register-username">Username</label>
                <input ng-model="regUsername" name="username" type="text" class="form-control" id="register-username" placeholder="Choose a Username">
            </div>
            <div class="form-group">
                <label for="register-fullname">Full name</label>
                <input ng-model="regFullName" name="fullName" type="text" class="form-control" id="register-fullname" placeholder="Your Full Name">
            </div>
            <div class="form-group">
                <label for="register-username">Email address</label>
                <input ng-model="regEmail" name="regEmail" type="email" class="form-control" id="register-email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="register-password">Password</label>
                <input ng-model="regPassword" name="regPassword" type="password" class="form-control" id="register-password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="register-repeat-password">Repeat password</label>
                <input ng-model="regRepPassword" name="regRepPassword" type="password" class="form-control" id="register-repeat-password" placeholder="Repeat Password">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> I Accept the Terms And Conditions
                </label>
            </div>
            <!--todo make validations-->
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>