<div class="post" ng-init="limit = 1">
    <div>
        <img ng-src="{{post.author.profileImageData}}" alt="author" class="small-icon-like"/>
        <span><string>{{post.author.name}} posted:</string></span>
        <time><sup>{{post.date}}</sup></time>
    </div>
    <div>
        <p>{{post.postContent}}</p>
    </div>
    <div class="controls">
        <ul class="post-controls">
            <li>
                <a href="" ng-click="likePost(post.id); post.liked = !post.liked; post.likesCount = post.likesCount + 1" ng-if="!post.liked">like</a>
                <a href="" ng-click="unLikePost(post.id); post.liked = !post.liked; post.likesCount = post.likesCount - 1" ng-if="post.liked">unlike</a>
                ({{post.likesCount}})
            </li>
            <li>comment</li>
            <li ng-click="limit = 10000"><a href="">show all comments</a> ({{post.totalCommentsCount}})</li>
        </ul>
    </div>
</div>
<div>
    <ul>
        <li ng-repeat="comment in post.comments | limitTo: limit">
            <div post-comment></div>
        </li>
    </ul>
</div>